---
import KBVE from "@l/KBVE.astro";
import Portal from "@c/r3f/App";
---

<KBVE title="RentEarth.com" description="Atlas Model">
  <div class="flex flex-grow h-[500px] min-h-screen">
    <Portal client:only="react" />
  </div>
</KBVE>
